# This file will be installed as /init.{ro.hardware}.rc

import /init.qcom.rc
import /init.lge.usb.rc
import /init.target.rc
# to override init.qcom.rc and init.target.rc
import /init.galbi_core.rc
import /init.lge.power.rc

# LGE_CHANGE_S, [LGE_DATA][LGP_DATA_TCPIP_NSRM], heeyeon.nah@lge.com, 2012-05-22
export LD_PRELOAD /vendor/lib/libNimsWrap.so
# LGE_CHANGE_E, [LGE_DATA][LGP_DATA_TCPIP_NSRM], heeyeon.nah@lge.com, 2012-05-22

# [LGE_MODEMBSP] modem reset feature [START]
on property:rild.modem_restart=silence
    write /sys/module/lge_handle_panic/parameters/gen_modem_panic 2
# [LGE_MODEMBSP] modem reset feature [END]
